body{
    background-color: #635985;
}
hr{
    border-color: #443C68;
    border-style: dotted none none;
    width: 20%;
    border-width: 7px;
}
h1{
    color: #18122B;
}
h3{
    color: #18122B;
}