body{
    background-color: #F1E3CB;
}
hr{
    border-color: #F9B384;
    border-style: dotted none none;
    width: 20%;
    border-width: 7px;
}
h1{
    color: #CA5116;
}
h3{
    color: #CA5116;
}
